*{
	border: 1px solid black;
}

.header{
	display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.logo{
	display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}

.logo span{
	color: MediumAquamarine;
	padding-left: 10px;
}
	


.header nav{
	display: flex;
	padding-right: 40px;
}

nav span{
	padding: 10px;
	text-decoration: underline;
}

.news{
	display: flex;
	margin-bottom: 100px;
}

.columnLarge{
	display: flex;
	flex-direction: column;
	width: 630px;
	height: auto;
	margin-top: 100px;
	
}


.columnMedium{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: auto;
	margin-top: 100px;
	margin-left: 30px;
}

.columnSmall{
	display: flex;
	flex-direction: column;
	width: 240px;
	height: auto;
	margin-top: 100px;
	margin-left: 30px;
}

#cookie{
	overflow: hidden;
	
}

.tunaImg{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
	background-size: 100%;
	display: flex;
	width: 100%;
	height: 300px;
}

.fallImg{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
	display: block;
	height: 300px;
	
}

.hip{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
}

.cat{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
	display: flex;
	width: 100%;
	height: 300px;
}

span{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 100%;
}

p{
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding: 10px 0;
}

.story1{
	display: block;
	flex-direction: column;
}

.textContent{
	display: block;
	
}

.story2{
	display: block;
	flex-direction: column;
}



.stories{
	display: flex;
	
	justify-content: space-between;
}